#featured-links-wrapper{
  padding: 20px 0;

  h2{
    font-size: 2rem;
    padding: 0 0 0 20px;
  }
}

ul#featured-links{
  padding: 20px 0 40px 20px;

  li.featured-link{
    background-position: center;
    background-size: cover;
    color: #fff;
    float: left;
    display: inline-block;
    height: 160px;
    width: 50%;

    a:hover{
      text-decoration: none;
    }

    .overlay{
      background: fadeOut(@main, 30%);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      text-align: center;
      text-shadow: 0 0 5px rgba(0,0,0,.5);
      opacity: .5;
      height: 100%;
      width: 100%;

      .lh-box-sizing(border-box);

      &:hover{
        opacity: 1;
      }
    }
  }

}

.temp-illumintati{
  background: url("/images/banners/illuminati.png");
}
.temp-cat{
  background: url("/images/banners/cat.jpg");
}
.temp-scincidae{
  background: url("/images/banners/scincidae.JPG");
}