@import "../bootstrap/bootstrap.css";
.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.swiper-slide {
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .swiper-slide {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .swiper-slide {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .swiper-slide {
    width: 1170px;
  }
}
.swiper-slide h3 {
  font-size: 2rem;
}
