footer#main-footer{
  background: @main;
  color: #fff;

  a{
    color: #fff;

    &:hover{
      color: #fff;
    }
  }

  h5{
    font-size: 24px;
    padding-bottom: 1rem;
  }

  .col{
    padding: 20px;

    p{
      line-height: 150%;
      padding: .5rem 0;
    }

    .my-log-temp{
      float: right;
    }

    .contacts{
      li{
        line-height: 150%;
        padding: .5rem 0;

        strong{
          font-weight: bold;
        }
      }
    }

    .footer-social-links{
      font-size: 2rem;

      a.social-link{
        color: #fff;
        display: inline-block;
        padding: 1rem;
        text-align: center;
        height: 4rem;
        width: 4rem;

        &:hover{
          background: #fff;
          color: @main;
        }
      }
    }

    img{
      padding-top: 20px;
    }
  }

  #footer-map{
    height: 60vh;
    width: 100%;
  }
}