header#main-header{
  background-color: #fff;
  background-image: url('/images/header.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;

  nav#main-header-nav{
    background-color: @main;
    //background-image: url("/images/header-blured.jpg");
    background-position: center;
    background-size: cover;
    font-weight: 300;
    position: fixed;
    //height: 56px;
    //overflow: hidden;
    width: 100%;
    z-index: 1000;

    #main-header-nav-bg{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: .8;
      z-index: -1;
      background-image: url('/images/header-blured.jpg');
      background-repeat: no-repeat;
    }

    & > .impact > .container{
      padding: 0;
    }

    #top-logo{
      background: url("/images/logos/only-name.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      float: left;
      height: 50px;
      width: 70px;
    }

    .header-nav-list{
      color: #fff;
      float: left;
      list-style: none;
      margin: 0;

      & > li{
        display: inline-block;
        font-size: 17px;

        &.parent{
          &:hover, &.active{
            background: #eee;
            color: @main;
          }
        }

        &:hover, &.active{
          background: #fff;

          a{
            color: @main;
          }
        }

        a{
          color: #fff;
          display: block;
          //text-decoration: underline;
          padding: 0 20px;

          &:hover{
            text-decoration: none;

            .borderland{
              border-bottom: 3px solid @main;
            }
          }

          &.active{
            .borderland{
              border-bottom: 3px solid @main;
            }
          }

          .borderland{
            display: block;
            padding: 20px 0;
            border-bottom: 3px solid #fff;
          }
        }

        .nesting-menu-wrapper{
          display: none;
          left: 0;
          position: absolute;
          min-height: 400px;
          clip: rect(auto, auto, 1000px, auto);
          width: 100%;

          .nesting-menu{
            background: #fff;
            min-height: 400px;
            padding: 0;
            overflow: hidden;
            max-height: 80vh;

            .lh-box-shadow(0 0 40px rgba(0,0,0,.25));

            ul.lvl-1{
              background: #eee;
              padding: .3rem 0;
              float: left;
              overflow-y: scroll;
              max-width: 20%;

              li{
                color: @main;
                display: block;
                position: relative;
                padding: .7rem 1rem;

                &:hover{
                  background: #fff;
                  z-index: 5;
                }

                ul.lvl-2{
                  display: none;
                }
              }
            }

            .nesting-sub{
              float: right;
              width: 80%;

              .lh-box-shadow(0 0 40px 0 rgba(0,0,0,.1));

              .default-message{
                color: @main;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                text-align: center;
                height: 460px;
              }
            }
          }
        }

        &.parent:hover, &.parent.active{
          .nesting-menu-wrapper{
            display: block;
          }
        }
      }
    }

    #main-header-modes{
      float: right;
      padding: .8rem 0;

      .mode{
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        position: relative;
        float: right;
        padding: .4rem .7rem;
        margin-left: .7rem;

        .lh-border-radius(5px);

        i{
          padding: 0 3px;
        }

        &:hover{
          background-color: #fff;
          color: @main;
        }

        &.active{
          ul{
            display: block;
          }
        }

        ul{
          background-color: #fff;
          border: 1px solid #fff;
          display: none;
          color: @main;
          position: absolute;
          top: -1px;
          left: -1px;

          .lh-border-radius(5px);

          li{
            padding: .4rem .7rem;

            &:first-child{
              .lh-border-top-left-radius(5px);
              .lh-border-top-right-radius(5px);
            }

            &:last-child{
              .lh-border-bottom-left-radius(5px);
              .lh-border-bottom-right-radius(5px);
            }

            &:hover{
              background-color: @main;
              color: #fff;
            }
          }
        }
      }
    }
  }

  div#main-header-landing{

    .container{
      color: #fff;
      text-shadow: 0 2px 5px rgba(0,0,0,.4);
      position: relative;
      padding-top: 64px;
      z-index: 2;

      h1{
        font-size: 6vh;
        font-weight: 100;
        text-align: center;
        //text-shadow: 0 0 10px rgba(0, 0, 0, .3);
        padding-bottom: 3vh;
      }

      h2{
        font-size: 4vh;
        font-weight: 300;
        text-align: center;
        //text-shadow: 0 0 7px rgba(0, 0, 0, .4);
      }

      .button-wrapper{
        text-align: center;
        padding: 6vh 0 3vh 0;
      }

      .header-button{
        border: 1px solid #fff;
        display: inline-block;
        padding: 3vh 3vw;
        margin: -1vh 0 0 -1vh;

        .lh-box-shadow(1vh 1vh 0 #fff);

        &:hover{
          margin: 0;

          .lh-box-shadow(none);
        }
      }
    }
  }

  &.full{
    height: 100vh;

    div#main-header-landing{
      height: 100vh;
    }
  }

  .impact{
    //background-color: rgba(255,255,255,.25);
    //background-image: url("/images/white-impact.png");
    height: 100%;
  }

  .gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,1d3d86+100&amp;0+80,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(74,100,158,0) 80%, rgba(29,61,134,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(74,100,158,0)), color-stop(100%,rgba(29,61,134,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(74,100,158,0) 80%,rgba(29,61,134,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(74,100,158,0) 80%,rgba(29,61,134,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(74,100,158,0) 80%,rgba(29,61,134,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(74,100,158,0) 80%,rgba(29,61,134,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1d3d86',GradientType=0 ); /* IE6-9 */

    position: absolute;
    bottom: 0;
    opacity: .3;
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
}

#header-main-logo{
  background-image: url("/images/logos/full.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 40px auto;
  height: 30vh;
  width: 400px;
}