#article .article {
  text-indent: .6rem;
  font-family: Georgia;
  line-height: 125%;
  font-size: 1.4rem;
  padding: 40px;
}
#article .article p {
  padding: 10px 0;
}
@media (max-width: 768px) {
  #article .article {
    font-size: 1rem;
    padding: 20px;
  }
  #article .article p {
    padding: 0;
  }
}
