.article-top{
  background: @main;
  color: #fff;

  .navhead{
    background: #fafafa;
    color: #333;
    font-size: 1.4rem;
    padding: 20px;
  }

  .breadcrumbs{
    font-size: .8rem;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    height: 62px;
  }
}